:root {
  --light-black: rgb(43, 43, 43);
  --light-gray: rgb(221, 221, 221);
  --lighter-gray: rgb(238, 238, 238);
  --check-btn-width: 1.5rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding-left: 0;
}

#content {
  display: grid;
  grid-template-areas: 
  "header header"
  "sidebar main"
  "footer footer";
  grid-template-columns: 0.75fr 3fr;
  grid-template-rows: 15vh 80vh 5vh;
}

header {
  grid-area: header;
  background-color: var(--light-black);
  color: white;
  padding: 20px;
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--light-gray);
  padding: 10px;
}

li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

#sidebar li {
  vertical-align: middle;
}

#sidebar li:hover, #sidebar button:hover, #todo-div button:hover {
  background-color: rgb(176, 176, 176);
  cursor: pointer;
}

#sidebar button, #todo-div button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: var(--light-gray);
}

li img {
  height: 24px;
  width: auto;
  margin-right: 8px;
}

#category-form {
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  gap: 10px;
}

#category-form input {
  /* width: 100%; */
  margin-bottom: 5px;
}

.active {
  outline: 1px solid white;
  outline-offset: -4px;
}

/* button img {
  height: 24px;
  width: auto;
  margin-right: 8px;
} */

#todo-div {
  grid-area: main;
  padding: 20px;
}

#todo-div li:hover {
  background-color: var(--light-gray);
}

#todo-list li {
  display: grid;
  grid-template-columns: 2rem 2fr 1fr;
  grid-template-rows: repeat(2, 1rem) 1.5rem;
}

.task-title-text {
  grid-area: 1 / 2 / 3 / 3;
}

.task-date-text {
  color: var(--light-black);
  grid-area: 1 / 3 / 2 / 4;
  text-align: end;
}

.task-time-text {
  color: var(--light-black);
  grid-area: 2 / 3 / 3 / 4;
  text-align: end;

}

.task-cat-text {
  color: var(--light-black);
  grid-area: 3 / 3 / 4 / 4;
  text-align: end;
}

.task-notes-text {
  color: var(--light-black);
  grid-area: 3 / 2 / 4 / 3;
}

.check-btn {
  height: 1.5rem;
  width: var(--check-btn-width);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  /* grid-area: 1 / 1 / 1 / 1; */
  grid-area: 1 / 1 / 3 / 2;
}

.check-btn:hover {
  cursor: pointer;
}

.unchecked {
  border: 2px solid black;
}

.checked {
  background-color: var(--light-black);
  border: 2px solid var(--light-gray);
}

#todo-list li:hover {
  background-color: var(--light-gray);
}

#task-form {
  display: none; /* normally this is grid; changed by one of the functions */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

#category-input {
  width: 80%;
}

#task-form input, #task-form select, #category-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--light-black);
  background-color: var(--lighter-gray);
}

#title {
  grid-area: 1 / 1 / 1 / -1;
}

#date {
  grid-area: 2 / 1 / 2 / 1;
}

#time {
  grid-area: 2 / 2 / 2 / -1;
}

#category-select {
  grid-area: 3/ 1 / 3 / -1;
}

#notes {
  grid-area: 4 / 1 / 4 / -1;
}

#task-btn-div {
  display: flex;
  grid-area: 5 / 1 / 5 / -1;
  justify-content: space-between;
}

#category-btn-div {
  display: flex;
  justify-content: space-between;
}

#task-btn-div input {
  width: 40%;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#category-btn-div input {
  width: 45%;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#task-btn-div .add-btn,
#category-btn-div .add-btn {
  color: white;
  background-color: rgb(86, 200, 86);
}

#task-btn-div .cancel-btn,
#category-btn-div .cancel-btn {
  color: white;
  background-color: rgb(255, 75, 75);
}

#task-btn-div input:hover,
#category-btn-div input:hover {
  cursor: pointer;
  color: black;
  filter: brightness(1.4);
}

footer {
  grid-area: footer;
  background-color: var(--light-black);
  text-align: center;
  color: white;
}
